Source: MODULE_NAME-dkms
Section: linux-input
Priority: optional
Maintainer: Henrik Rydberg <rydberg@euromail.se>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: MODULE_NAME-dkms
Architecture: all
Depends: dkms (>= 1.95), bash (>> 1.99)
Description: Apple USB BCM5974 Multitouch trackpad support (DKMS)
